.btn {
  // properties targeting <button>
  border: none;
  cursor: pointer;

  // properties targeting <a> used as button
  display: inline-block;

  // general
  font-size: 1.5rem;
  padding: 1.2rem .8rem;
  border-radius: var(--border-radius-md);
}