:host {
  --_common-height: 3.2rem;

  display: block;
}

.shopping-list {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: 4fr .1rem 6fr;
  gap: 2rem;
}

.ingredient-form {
  padding-block: 2rem;
  display: grid;
  align-content: center;
}

.form {
  display: grid;
  gap: 1rem;

  &__row {
    display: flex;
    align-items: end;
    gap: 1rem;
  }

  &__group {
    min-width: 0px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__input {
    &--amount {
      min-width: 0px;
      border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
    }
  }
  
  &__select {
    cursor: pointer;
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
    border-left: 0;
  }

  &__button {
    border: none;
  }

  &__input,
  &__select,
  &__button {
    height: var(--_common-height);
  }
}

.flex-group {
  display: flex;
  align-items: end;

  &--amount {
    flex: 1;
  }

  &--buttons {
    flex: 1;
    max-width: 16rem;
    
    gap: 1rem;
    
    & > * {
      flex: 1;
    }
  }
}


.ingredients {
  &__item {
    background-color: #fff;
    padding: 1rem;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: #cdbf93;
    
    &:first-of-type {
      border-radius: var(--border-radius-lg) var(--border-radius-lg) 0 0;
    }
    
    &:last-of-type {
      border-bottom: 1px solid #cdbf93;
      border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
    }
  }
}

.division {
  background-color: #cdbf93;
  align-self: center;
  height: 90%;
}