<div class="recipes container">
  <button class="btn recipes__btn">New Recipe</button>

  <div class="recipes__content">

    <h2 class="sr-only">recipe list</h2>
    <ul class="recipe-list">

      <li class="recipe-list__item recipe">
        <div class="recipe__text">
          <h3 class="heading-3 recipe__title" i18n>Receita 1</h3>
          <p>Lorem, ipsum dolor sit amet consectetur ait amet consectetur adipisicing elitLorem, ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <img class="recipe__img" src="https://picsum.photos/190/410" i18n-alt alt="recipe 1 item photo">
      </li>

      <li class="recipe-list__item recipe">
        <div class="recipe__text">
          <h3 class="heading-3 recipe__title" i18n>Receita 2 banana gratinada </h3>
          <p>Lorem ipsum dolor sit amet. vaspts.</p>
        </div>
        <img class="recipe__img" src="https://picsum.photos/150/320" i18n-alt alt="recipe 2 item photo">
      </li>

      <li class="recipe-list__item recipe">
        <div class="recipe__text">
          <h3 class="heading-3 recipe__title" i18n>Receita 3 abacate</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <img class="recipe__img" src="https://picsum.photos/320/320" i18n-alt alt="recipe 3 item photo">
      </li>

    </ul>

    <div class="recipe-details">
      <h2 class="sr-only">recipe details</h2>
    </div>

  </div>
</div>